.choice {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

}

.description {
    width: 255px;
    text-wrap: wrap;
}

.poster {
    width: 135px;
}

h3 {
    text-transform: uppercase;
}

