.choiceBox {
    margin-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    columns: 3;
    background-color: white;
    padding: 50px 20px 50px 20px;
    border-radius: 25% 25% 25% 25%;
    text-align: center;
    margin-left: 170px;
}

.poster {
    width: 150px;
    align-self: center;
}

h2 {
    text-transform: uppercase;
}
