.header {
    margin-bottom: 30px;
}

.logo {
    width: 80rem;
    font-family: 'Bungee', sans-serif;
    color: white;
    font-size: 11rem;
    font-style: italic;
    text-align: center;
    cursor: pointer;
}

.logo:hover {
    color: rgb(44, 44, 44);
    transform: translateY(-3px);
}
