.result {
    width: 120px;
    margin-left: 20px;
    text-align: center;
}

.thumbnail {
    width: 120px;
}

.title {
    font-size: .9rem;
    font-weight: 600;
    color: black;
}


.thumbnail:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.411);
}
