.result {
    padding: 20px 10px 5px 10px;
    margin: 30px;
    width: 150px;
    text-align: center;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.thumbnail {
    width: 120px;
    vertical-align: bottom;
}

.thumbnail:hover {
    cursor: pointer;
    pointer-events: visible;
}
