.resultsFor {
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.results {
    display: flex;
    padding: 10px 0px 10px 0px;
    overflow-x: auto;
    overflow-y: hidden;   
    margin-top: 32px;
    background-image: radial-gradient(#d8d8d8, #e0e1e2 50%);
}

.noResults {
    color: white;
    margin-top: 150px;
}


.loading {
    background-color: #e0e1e2 !important;
    margin-top: 150px !important;
}


@media only screen and (min-width: 320px) and (max-width: 450px) {
    .results {
        display: flex;
        flex-direction: column;
        padding: 5px 0px 5px 0px;
        max-width: 160px;
        max-height: 480px;
        overflow-x: hidden;
        overflow-y: auto;
        direction: rtl;
        margin-top: 55px;
        margin: -5px 0px 0px 70px;
        background-image: radial-gradient(#d8d8d8, #e0e1e2 50%);
    }
}

