



.ui.action.input {
    width: 800px;
}

.ui.button.dropdown {
    width: 80px;
    background-color: rgb(224, 225, 226) !important;
    border: none !important;
    color: rgb(73, 73, 74) !important
}

.ui.button.dropdown:hover {
    background-color: rgb(202, 203, 205) !important;
}