.searchBox {
    font-size: 2rem !important;
    font: 'Bungee Hairline', sans-serif;
}

.ui.action {
    height: 100px !important;
}

.ui.button.dropdown {
    background-color: rgb(224, 225, 226) !important;
    border: none !important;
    color: rgb(73, 73, 74) !important;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 180px !important;
    padding-right: 50px !important;
}

.ui.dropdown .menu {
    width: 180px !important;
}

.ui.dropdown .menu>.header {
    text-wrap: wrap;
    font-size: 1rem !important;
}

.ui.action.input {
    padding: 30px auto;
}

.ui.button.dropdown:hover {
    background-color: rgb(202, 203, 205) !important;
}

/* 
.ui.button.clear:hover, .ui.button.search:hover {

}
.ui.button.clear:active, .ui.button.search:active {

} */

@media only screen and (min-width: 320px) and (max-width: 430px) {

    .ui.action.input {
        height: 60px !important;
    }

    .ui.input {
        display: flex !important;
        flex-direction: row;
        width: 180px !important;
        margin: 0px 0px 0px -30px;
        
    }

    .ui.action {
        box-shadow: none !important;
    }

    .ui.action.input>.button, .ui.action.input>.buttons {
        align-items: center;
    }

    .ui.button.search{
        width: 50px !important;
    }

    .ui.button.clear{
        width: 50px !important;
    }

    .ui.button.dropdown {
        font-size: .65rem !important;
        width: 70px !important;
    }

    .ui.dropdown .menu {
        width: 70px !important;
        font-size: .5rem;
    }

    .ui.dropdown .menu>.item {
        line-height: .5rem !important;
        font-size: .5rem !important;
    }

    .ui.dropdown .menu>.header {
        text-wrap: wrap;
        font-size: .5rem !important;
    }


    .searchBox {
        font-size: 1.5rem !important;
    }
}