

.resultsFor {
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.results {
    display: flex;
    padding: 10px 0px 10px 0px;
    overflow-x: auto;
    overflow-y: hidden;   
    box-sizing: border-box;
    margin-top: 32px;
    background-image: radial-gradient( rgb(227, 111, 69) 20%, coral 80%);
}

.noResults {
    color: white;
    margin-top: 150px;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {

}

