

.mainBox {
    display: flex;    
    flex-direction: column;
    margin: 350px 120px 0px 120px;
    padding: 50px 50px 50px 50px;
    background: linear-gradient(180deg, #373737, #FFFFFF);
}

.top {
    flex-wrap: nowrap;
    text-align: center;
}

.bottom {
    background-color: rgba(0, 0, 0, 0.471);
    flex-wrap: wrap;
    text-align: center;
}





