.top {
    display: flex;    
    flex-direction: column;
    box-shadow: 1px -1px #17774b, 2px -2px #17774b, 3px -3px #17774b, 4px -4px #17774b, 5px -5px #17774b, 6px -6px #17774b, 7px -7px #17774b, 8px -8px #17774b;
    margin: 50px 120px 0px 120px;
    padding: 50px 50px 50px 50px;
    background-color: #19935b;
    border-radius: 77% 23% 44% 56% / 50% 53% 47% 50% ;
    text-align: center;
    max-width: 1250px;
    min-width: 1249px;
}


.middle {
    flex-wrap: wrap;
    box-shadow: 1px -1px #c9c9c9, 2px -2px #c9c9c9, 3px -3px #c9c9c9, 4px -4px #c9c9c9, 5px -5px #c9c9c9, 6px -6px #c9c9c9, 7px -7px #c9c9c9, 8px -8px #c9c9c9;
    border-radius: 23% 77% 34% 66% / 79% 31% 69% 21%;
    background-color: #e0e1e2;
    margin: 50px 0px 0px 0px;
    padding: 40px 150px 50px 150px;
    height: 470px;
    max-width: 800;
    min-width: 799px;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
    .top {
        max-width: 469px;
        min-width: 320px;
        margin: 50px 20px 0px 20px;
        border-radius: 8% 22% 0% 84% / 85% 27% 0% 15%;
    }

    .middle {
        max-width: 469px;
        min-width: 320px;
        height: 550px;
        margin: 30px 50px 0px -20px !important;
        padding: 40px 12px 10px 12px;
        border-radius: 23% 99% 44% 96% / 79% 31% 5% 21%;
    }
}






