@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000000 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-family: 'Bungee', sans-serif;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.70, 0.450, 0.940) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.logo:active {
      color: #a5d294;
      -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.70, 0.450, 0.940) reverse both;
      animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.thumbnail:hover {
  -webkit-animation: scale-down-center 0.05s steps(1, end) both;
      animation: scale-down-center 0.05s steps(1, end) both;
}

.sourceLogo:hover{
  -webkit-animation: shadow-pop-tr-logo 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: shadow-pop-tr-logo 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.sourceLogo:active{
  -webkit-animation: shadow-pop-tr-logo 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
  animation: shadow-pop-tr-logo 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}

.backButton:hover{
  -webkit-animation: shadow-pop-tr 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.backButton:active{
  -webkit-animation: shadow-pop-tr 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
  animation: shadow-pop-tr 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}


.results-scrollbar::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

.results-scrollbar::-webkit-scrollbar-thumb {
  background: #3b383f;
  border-radius: 10px;
}

.results-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a5d294;
}

.menu {
  background: #1e1e1e !important;
}

.item {
  color: #8e8e8e !important;
}

.item:hover {
  background: rgba(59, 56, 63, .7) !important;
}

.active.item {
  background: rgba(59, 56, 63, .7) !important;
  color: #a5d294 !important;
}

.header {
  color: #ededed !important
}


.glitchy {
  position: relative;
}

.glitchy:before,
.glitchy:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitchy:hover::before {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0%, 100% 0, 100% 0%, 0 70%);
  transform: translate(-0.025em, -0.0125em);
  color: #90b482;
}

.glitchy:hover::after {
  animation: glitch 450ms infinite;
  clip-path: polygon(0 25%, 100% , 100% 100%, 0 70%);
  transform: translate(0.0125em, 0.025em);
}


/* KEY FRAMES */


@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #3b383f, 0 2px 0 #3b383f, 0 3px 0 #3b383f, 0 4px 0 #3b383f, 0 5px 0 #3b383f, 0 6px 0 #3b383f, 0 7px 0 #3b383f, 0 8px 0 #3b383f, 0 9px 0 #3b383f;
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #3b383f, 0 2px 0 #3b383f, 0 3px 0 #3b383f, 0 4px 0 #3b383f, 0 5px 0 #3b383f, 0 6px 0 #3b383f, 0 7px 0 #3b383f, 0 8px 0 #3b383f, 0 9px 0 #3b383f;
  }
}

@-webkit-keyframes shadow-pop-tr-logo {
  0% {
    -webkit-box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
            box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #000000, 2px -2px #000000, 3px -3px #000000;
            box-shadow: 1px -1px #000000, 2px -2px #000000, 3px -3px #000000;
    -webkit-transform: translateX(-3px) translateY(3px);
            transform: translateX(-3px) translateY(3px);
  }
}

@keyframes shadow-pop-tr-logo {
  0% {
    -webkit-box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
            box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #000000, 2px -2px #000000, 3px -3px #000000;
            box-shadow: 1px -1px #000000, 2px -2px #000000, 3px -3px #000000;
    -webkit-transform: translateX(-3px) translateY(3px);
            transform: translateX(-3px) translateY(3px);
  }
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #272727, -0.025em -0.05em 0 #0b0b0b,
      0.025em 0.05em 0 #a5d294;
  }
  14% {
    text-shadow: 0.05em 0 0 #272727, -0.025em -0.05em 0 #0b0b0b,
      0.025em 0.05em 0 #8e8e8e;
  }
  15% {
    text-shadow: -0.05em -0.025em 0 #272727, 0.025em -0.025em 0 #0b0b0b,
      -0.05em -0.05em 0 #a5d294;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #272727, 0.025em -0.025em 0 #0b0b0b,
      -0.05em -0.05em 0 #8e8e8e;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 #272727, -0.025em 0.05em 0 #0b0b0b,
      0 -0.05em 0 #a5d294;
  }
  99% {
    text-shadow: 0.025em 0.05em 0 #272727, -0.025em 0.05em 0 #0b0b0b,
      0 -0.05em 0 #8e8e8e;
  }
  100% {
    text-shadow: -0.025em 0 0 #272727, -0.025em -0.025em 0 #0b0b0b,
      -0.025em -0.05em 0 #a5d294;
  }
}
